@using System.Activities.Statements
@using EMSB_Intl_Cs_MCV.Models
@model IEnumerable<EMSB_Intl_Cs_MCV.Models.Contact>

@if (Model != null)
{
    foreach (var advisor in Model)
    {
        <button type="button" class="dropdown-btn btn btn-link text-decoration-none" data-toggle="collapse" href="#@advisor.collapseName" aria-expanded="False" aria-controls="@advisor.collapseName">

            <div class="d-flex justify-content-between align-items-center">
                <div class="media my-2 contact-staff-name">
                    <img src="@advisor.Icon" alt="admin technician" className="img-fluid" />
                    <div class="media-body">
                        <h5 class="contact-staff-namee">
                            @advisor.Name
                        </h5>
                    </div>
                </div>
                    <div class="d-flex justify-content-end contact-icon-group">
                        <img src="/Assets/Images/schools/plus-btn.png" class="ml-3 mb-2 pb-2" alt="Plus button" />
                        @*<img src="/Assets/Images/schools/plus-btn.png" class="ml-3 mb-2 pb-2" alt="Plus button" />
                            <img src="/Assets/Images/schools/plus-btn.png" class="ml-3 mb-2 pb-2" alt="Plus button" />*@
                    </div>
                
            </div>
         </button>


            <div class="collapse" id="@advisor.collapseName">
                <div class="d-flex flex-column align-items-start text-left border mb-2 pl-2 pt-2 rounded">
                    <h5 class="border-bottom border-info">Post description</h5>
                    <div class="d-flex flex-wrap mb-2">
                        @advisor.Post
                    </div>
                    <h5 class="border-bottom border-info">Schools in charge</h5>
                    <div class="d-flex flex-wrap mb-2">
                        @foreach (var school in advisor.Schools)
                        {
                            <span>@school</span>
                        }
                    </div>
                    <h5 class="border-bottom border-info">Phone number</h5>
                    <p>@advisor.Phone</p>
                    <h5 class="border-bottom border-info">Email</h5>
                    <p>@advisor.Email</p>
                </div>
            </div>
            }
            }
